@media (max-width: 900px) {
  div.container-fluid {
    margin-bottom: 1rem;
  }

  .card-deck {
    flex-direction: row;
    display: flex
  }

  div.card {
    flex-shrink: 2;
    width: 20%;
  }

  .card-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  p.description {
        display: none;
    }

  p.card-text {
    width: 100%;
    height: 1rem;
    display: block;
    margin-bottom: 0.3rem;
    font-size: 0.7rem;
    text-align: center;
    flex-shrink: 2;
  }

  .card-text:last-child {
    margin-bottom: 0.2rem;
  }

  .weekday {
    flex-shrink: 4;
    font-size: 1.2rem;
  }

  img.card-img-top {
    width: 3rem;
    margin: 0 auto;
  }

}

@media (max-width: 970px) {
    p.description {
        display: none;
    }

}

@media (max-width: 850px) {
    div.container-fluid {
        margin-bottom: 0.55rem;
    }

    h1.title {
        font-size: 2.5rem;
        margin-top: -7%;
    }

    #footer {
        height: 2.5rem;
    }
}


html {
    height: 100%;
}

body {
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-wrap: break-word;
}

h1 {
    font-family: 'Ubuntu Mono', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 36px;
    text-align: center;
    color: #777779;
}

h2 {
    font-size: 2.2rem;
}


p {
    line-height: 15px;
    font-size: 1rem;
}

.container-fluid {
    margin-bottom: 4rem;
    color: #777779;
}

.card-deck {
    justify-content: space-around;
    flex-flow: row;

}

.card-deck .card {
    flex: none;
}

.card {
    flex: none;
    width: 20%;
    color: #333333;
    background-color: #777779;
}

.card-img-top {
    width: 5rem;
    margin: 0 auto;
}

.date-number {
    color: #3d3a3a;
}

strong {
    font-weight: bold;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #333333;
    position: absolute;
    height: 3.5rem;
    bottom: 0;
}

a {
    color: #777779;
}

a:hover{
    color: #949499;
    text-decoration: none;
}


.carousel-control-next {
    right: -10%;
}

.carousel-control-prev {
    left: -10%;
}

.fa-angle-up {
    color: #DC143C;
}

.fa-angle-down {
    color: #6495ED;
}

#daily-forecast {
    width:70%;
    margin: 0 auto;
}




::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #971414;
  opacity: 0.5; /* Firefox */
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 1rem;
  padding-left: 6%;
  opacity: 0.3;
}
