<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{  bootstrap.load_css()  }}

        {% endblock %}
        <link rel="icon"
            type="image/png"
            href="{{  url_for('static', filename='images/favicon.ico')  }}">
        <title>{%  block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
    <footer id="footer">
        {% block footer %}{% endblock %}
        <script src="https://kit.fontawesome.com/987a627c37.js" crossorigin="anonymous"></script>
    </footer>
</html>

