{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='css/index.css')  }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
{% endblock %}
{% block content %}
    <form action="{{  url_for('home')  }}" method="POST">
        <nav class="navbar">
<!--            <a class="navbar-brand" href="#"><i class="fas fa-globe disabled"></i> :</a>-->
            <select class="form-control form-control-sm" name="country" id="country">
                {% for country in countries %}
                {% if country == default %}
                <option value="{{  country  }}" selected="selected">{{  country  }}</option>
                {% else %}
                <option value="{{  country  }}">{{  country  }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </nav>
        <h1>enter a city:</h1>
        <input class="input" type="text" name="city" autocomplete="off" spellcheck="false">
        <p class="error">{{  error  }}</p>
<!--      <button type="submit">Submit</button>-->
    </form>
{% endblock %}












<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Welcome</title>-->
<!--</head>-->
<!--<body>-->
<!--  <h1>Welcome</h1>-->
<!--  <form action="{{  url_for('home')  }}" method="POST">-->
<!--      <label>Enter a city: </label>-->
<!--      <input type="text" name="city" placeholder="City (ex. Vancouver)">-->
<!--      <br>-->
<!--      <button type="submit">Submit</button>-->
<!--  </form>-->
<!--</body>-->
<!--</html>-->